html,
h1{
    color: pink;
    font-size: 60px;
}
body.main{
    background-color: gray;
    color: pink;
}
#para1{
    font-size: 40px;

}
p.regular{
    font-size: 30px;
}
iframe{
    width: 480px;
    height: 380px;
}