html{
    font-family: "Open Sans", sans-serif;
    color: pink;
    font-size: 60px;
}

h1{
    color: pink;
    transition: color 1s, transform .4s, font-size 1s;
    font-size: 60px;
}
h1:hover{
    color: orange;
    font-size: 150px;
    transform: rotateY(360deg)
}
img{
    transition: width .5s, height .5s;
    transition-timing-function: ease-out;
    width: 5em;
    height: auto;
}
img:hover{
    width: 6em;
    height: auto;
}
body.main{
    background-color: gray;
    color: pink;
}
#para1{
    font-size: 40px;

}
p.regular{
    font-size: 30px;
}
iframe{
    width: 480px;
    height: 384px;
    border-style: none;
}
div.name{
    color: oldlace;
    transition: color .5s, font-size .5s;
    transition-timing-function: ease-out;
}
div.name:hover{
    color: orange;
    font-size: 70px
}