html{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
    height: 100%;
}

body{
    color: white;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

nav{
    background: white;
    position: absolute;
    transition: all 200ms;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 3em;
}
.navbar-text{
    color: #051c2c;
    transition: 300ms color ease, 300ms font-weight ease;
}

.self-image-container{
    height: 505px;
}
#self-image-tag{
    width: 370px;
    border-radius: 10px;
    margin-top: 45px;
    margin-left: 40px;
}


.separator{
    background-color: rbg(225, 225, 225);
    height: 25em;
}

ul{
    list-style-type: none;
    height: 100%;
    margin-bottom: 35px;
}

ul.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
    margin: 0px;
    padding: 0px;
    transition: 300ms all ease;

}

ul.navbar-container:hover{
    background-color: black;
}

ul.navbar-container:hover .navbar-text{
    color: white;
    transition: 300ms ease all;
}

ul.navbar-container:hover .navbar-text:hover{
    color: #fade0f;
    font-weight: bolder;
    cursor: pointer;

}

.other-navbar{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin: 0px;
}

.title-page-text-container{
    width: 508px;
    height: 425px;
    text-align: left;
    margin-top: 60px;
}

.title-page-container{
    background-color: rgba(5, 28, 44, 1);
    background-size: cover;
    height: 115vh;
    width: auto;
    background-attachment: fixed;
    position: relative;
    background-position: center;
    z-index: 1;
    background-position-y: 250em;
    transition: background-color 3.5s ease;
}

.title-page-flexbox{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.title-page-container:hover{
    background-color: rgba(5, 28, 44, .85);
}
.separator{
    background-color: transparent;
    height: 5em;
}

video{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -100;
    object-fit: cover;
    top: 0;
    left: 0;
}
#video-background{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50em;
    overflow: hidden;
    z-index: -100;
}

.main-title{
    font-size: 50px;
    margin: 0px;
    font-family: 'Bungee', cursive;
    text-align: left;
    height: 70px;

}

.difference{
    color: #fade0f;
    font-family: 'Bungee', cursive;
    font-size: 53px;
    height: 65px;
    text-align: left;
}

.title-container{
    display: flex;
    margin-left: 50px;
    padding: 0px;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 12em;
}
#logo{
    font-family: 'Bungee', cursive;
    margin-left: 15px;
    font-size: 20px;
}

.title-page-items-flexbox{
    display: flex;
    flex-direction: column;
}

.arrow-down{
    border: solid gray;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    margin-top: 50px;
    position: absolute;
    cursor: pointer;
    transition: 200ms;
}


.arrow-flexbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50px;
}

.experience-arrow{
    font-family: Bungee;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 96px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;

    color: rgba(246, 221, 77, 0.7);
    transition: 200ms all ease;
}

.experience-arrow:hover, .arrow-down:hover .experience-arrow{
    color: rgba(246, 221, 77, 0.932);
}

.about-stuff{
    font-size: 17px;
    margin-top: 53px;
    text-align: left;
}

#about.title-container{
    margin-bottom: 3em;
}

.title{
    font-size: 42px;
    font-weight: bold;
    height: 105px;
    font-family: 'Bungee', cursive;
}

.about-list{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    list-style-type: none;
    text-align: center;
    border-radius: 20px;
    width: auto;
    margin: 0;
    padding: 0;
}

.about-text{
    font-size: 1.2em;
    color: lightgrey;
    transition: all 200ms;
    font-weight: bolder;
}

.about-item-container{
    background-color: rgba(5, 28, 44, 1);
    border-radius: 20px;
    width: 20em;
    height: 20em;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.16), 0px 3px 6px 1px rgba(0,0,0,0.23);
    transition: 300ms ease all;
}

.about-item-container:hover, .about-item-container:hover .about-text, .about-item-container:hover .about-subtitle{
    background-color: #fade0f;
    color: #051c2c;
}

.about-item-container:hover .about-subtitle{
    border-bottom: #051c2c solid 2px;
}
.about-item-container:hover{
    height: 22em;
    box-shadow: 1px 3px 6px 3px rgba(0,0,0,0.3), 1px 3px 6px 3px rgba(0,0,0,0.4);
}

.experience-background{
    background-color: rgba(5, 28, 44);
    transition: all 2.5s;
    height: 145vh;
    padding-top: 20px;

}

.experience-background:hover{
    background-color: rgba(5, 28, 44, .85);
}


.experience-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 35em;
}

#experience.title-container{
    margin-bottom: 0em;
}

#khayal:hover{
    color: #fade0f;
 
}
#css:hover{
    color: #fade0f;
}
#react:hover{
    color: #fade0f;
}

#kalish:hover{
    color: #fade0f;

}
#dodecs:hover{
    color: #fade0f;
}

#rwit:hover{
    color: #fade0f;
}
#webdev:hover{
    color: #fade0f;
}
#datavis:hover{
    color: #fade0f;
}
 
#uga:hover{
    color: #fade0f;
}
#oop:hover{
    color: #fade0f;
}
#software:hover{
    color: #fade0f;
}
#math:hover{
    color: #fade0f;
}
#ta:hover{
    color: #fade0f;
 

}
#signu:hover{
    color: #fade0f;


} 
#sa:hover{
    color: #fade0f;


}

#tutor:hover{
    color: #fade0f;


}
#r:hover{
    color: #fade0f;

}
#C:hover{
    color: #fade0f;

}
#python:hover{
    color: #fade0f;

}
#java:hover{
    color: #fade0f;

}
#SQL:hover, #mongo:hover{
    color: #fade0f;

}
#javascript:hover{
    color: #fade0f;

}

.experience-text{
    text-align: left;
    color: white;
}

.do{
    color: #fade0f;
}
.period{
    color: #fade0f;
}

#experience-title{
    color: white;
    margin-bottom: 0em;
    margin-top: 2px;
}

.experience-heading{
    font-size: 2.5em;
    color: #fade0f;
    text-align: center;
    margin: 0px;
}
.resume{
    border-radius: 42px;
    background-color: #fade0f;
    color: rgb(5, 28, 44);
    width: 210px;
    height: 63px;
    box-shadow: 0px 1px 3px 1px white inset, 0px 3px 6px 1px rgba(0,0,0,0.13);
    font-family: 'Bungee', cursive;
    color: white;
    font-size: 24px;
    transition: all 200ms ease, transform 500ms ease;
    margin-top: 90px;

}

.resume:hover{
    background-color: #fae967;
    transform: rotateY(360deg);

}

.list-title{
    background-color: #fade0f;
    border-radius: 6px;
    width: 245px;
    color: #051c2c;
    height: 36px;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

.left-list{
    margin-left: 60px;
}

.experience-list-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 0px;
    align-items: flex-start;
}

.experience-list{
    padding: 0px;
    margin-right: 0px;
    height: 23em;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.languages-list{
    text-align: center;
    padding: 0px;
    margin: 0px;
    flex-direction: column;
    display: flex;
    margin-left: 35px;
    align-items: self-end;
}

#java, #python, #css, #javascript, #SQL, #r, #C, #mongo, #react{
    font-weight: bold;
}



.experience-item{
    margin-bottom: .3em;
    transition: color 150ms ease;
    overflow-wrap: normal;
    font-size: 1.3em;
    margin-top: .3em;
    height: 1.2em;
}

.aexperience-item{
    height: 1.5em;
    overflow-wrap: normal;
    transition: color 150ms ease;
    font-size: 1.3em;
    margin-top: .3em;
    margin-bottom: .3em;
}

.experience-hover-here{
    color: #fade0fce;
}

.portfolio-container:hover{
    background-color: rgba(5, 28, 44, .85);
}

.portfolio-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: rgba(5, 28, 44);
    height: 145vh;
    transition: all 2.5s ease;
}

.carosel{
    width: 100%;
}

#carosel-container{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0px;
    align-items: center;
    height: 360px;
}


.carosel-box{
    position: relative;
    display: inline-block;
}

.img-box{
    width: 35em;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 300px;
}
.carosel-subtitle-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-arrow-holder{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.left-arrow{
    border: solid #fade0f;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(-45deg);
    align-items: center;
    filter: opacity(.6);
    animation-name: arrowblink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes arrowblink{
    0%{
        filter: opacity(.6);
       
    }

    50%{
        filter: opacity(1);
        border: solid #f7df29;
        border-width: 0 6px 6px 0;
    }
    100%{
        filter: opacity(.6);
    }

}

.img-box-overlay{ /* received help from a TA on spacing */
    background-color:#fade0f;
    height: 65px;
    position: absolute;
    opacity: .9;
    margin-left: 10px;
    width: 560px;
    top: 245px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 150ms;
    border-radius: 10px;
}
.carosel-box:hover .img-box-overlay{
    height: 90px;
    top: 222px;
}

.img-box-overlay-title{
    color: #051c2c;
    align-items: center;
    font-size: 20px;
}

.see-more{
    width: 142px;
    height: 50px;
    font-size: 1.2em;
    background-color: #051c2c;
    color: white;
    border-radius: 30px;
    border-color: white;
    cursor: pointer;
    transition: all 150ms linear;
    margin: 0;
    padding: 0; 
    border-style: none;
    font-family: 'Bungee', cursive;
    font-weight: bold;
    /* taken from cs52 website, hehe */
    box-shadow: gray inset 0px 1px 3px 2px;
    transition: 200ms ease all;
}

.see-more:hover{
    color: #051c2c;
    background-color: white;
    box-shadow: #051c2c 0px 1px 3px 2px;
}

.contact-cover{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(5, 28, 44);
    height: max-content;
    transition: all 2.5s ease;
}

#contactme{
    margin-top: 35px;
}

.contact-cover:hover{
    background-color: rgba(5, 28, 44, .85);
}

.contact-container{
    display: flex;
    flex-direction: row;
    height: 13em;
}

.contact-container-main{
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    align-items: center;
    width: 100%;
}
#linkedin-image{
    width: 10em;
}
.top-contact-container, .bottom-contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.sm-container{
    height: 13em;
    width: 14em;
    justify-content: center;
    display: flex;
}

.social{
    width: 9em;
    height: 9em;
    cursor: pointer;
    transition: height 240ms, transform .5s;
}

.social:hover{
    transform: rotateY(360deg);
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.button{
    border-radius: 20px;
    width: 80px;
    height: 40px;
    font-family: 'Roboto Mono', monospace;
    background-color: #fade0f;
    font-size: 32px;
    transition: all 200ms ease;
    margin-bottom: 20px;
    font-size: 7px;
    font-family: 'Bungee', cursive;
    color: white;
    border: none;
    margin-top: 40px;
}

.button:hover{
    background-color: #fae967;
    cursor: pointer;
    box-shadow: white 0px 1px 1px 0px inset, white 0px 0px 0px 1px inset
}

.hire-me-pls{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
    transition: 200ms ease;
}

.hire-me-pls:hover{
    color: #fae967;
}

.yellow{
    font-size: 22px;
    font-weight: bold;
}



.footer-text{
    font-size: 10px;
    margin-bottom: 2vh;
}

ul.height-100{
    height: 100%;
}

#go-up{
    font-size: 15px;
    color: black !important;
}
@media only screen and (max-width: 1189px){
    .title-page-flexbox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ul.height-100{
        height: 100%;
    }
    ul.navbar-container{
        justify-content: space-around;
    }
    .title-page-container{
        height: fit-content;
        padding-bottom: 70px;
    }
    .title-page-text-container{
        text-align: center;
        width: auto;
        height: auto;
    }
    .main-title{
        text-align: center;
    }
    .difference{
        text-align: center;
    }
    #self-image-tag{
        margin-left: 0px;
    }
    .about-stuff{
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }
    .experience-background{
        height: fit-content;
        padding-bottom: 70px;
    }

    .arrow-down{
        border-width: 0px 10px 10px 0px;
        margin-top: 100px;
        padding: 10px;
    }
    .title-container{
        margin-left: 0px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .title{
    }
    .experience-list-container{
        align-items: center;
        flex-direction: column;
    }
    .arrow-flexbox{
        align-self: center;
    }
ul{
    margin-bottom: 0px;
}
    .left-list{
        margin-left: 0px;
        height: fit-content;
    }
    .list-title{
        width: 310px;
        height: auto;
        padding-left: 20px;
        margin-left: 20px;
        margin-top: 30px;
    }
    .ul{
        height: 700px;
    }
    .right-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .portfolio-container{
        height: fit-content;
        padding-bottom: 70px;
    }
    .portfolio-subtitle{
        text-align: center;
    }

    .hire-me-pls{
    }
    .button{
        width: auto;
        height: auto;
    }
    .footer-text{
        margin-bottom: 20px;
    }
    


}

@media only screen and (max-width: 570px){
    ul{
        height: auto;
    }
    #self-image-tag{
        width: 330px;
    }
    .experience-item{
        height: auto;
    }
    .aexperience-item{
        height: auto;
    }
    .top-contact-container{
        flex-direction: column;
    }
    .other-navbar{
        
    }
    .main-title, .difference{
        font-size: 35px;
    }
    ul.navbar-container{
        flex-direction: column;
        height: auto;
        padding-bottom: 10px;
    }
    #logo{
        margin-left: 0px;
    }
    .other-navbar{
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    nav{
        height: auto;
    }

    .main-title{
        line-height: 80px;
        height: auto;
        margin-top: 20px;
    }
    .difference{
        line-height: 80px;
        height: auto;
    }

}

@media only screen and (max-width: 280px){
    #self-image-tag{
        width: 250px;
    }
    .list-title{
        width: 220px;
    }
    .navbar-text{
        font-size: 10px;
    }
    .title{
        font-size: 38px;
    }
}
